.vscode
build
*.o
*.d
*.tex
*.dvi
*.idx
*.aux
*.log
*.ind
*.ilg
*.asm
*.sym

#xv6
*initcode
*/xv6-riscv/*/initcode.out
*/xv6-riscv/kernel/kernel
*/xv6-riscv/fs.img
*/xv6-riscv/*/mkfs
*/xv6-riscv/.gdbinit
*/xv6-riscv/*/usys.S
*/xv6-riscv/user/_*